
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --background-color: #B2B49C;
    --text-color: #3B3C36;
  }

  html {
    scroll-behavior: smooth;
    font-family: sans-serif;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}


/*** Custom styles for the application
*/
.bg-color {
  background-color: var(--background-color);
}
.bg-component {
  background-color: #B2B49C;
}

.bg-component-dr {
  background-color: #3B3C36;
}
.bg-component-dark:hover {
  background-color: #3B3C36;
  color: #B2B49C;
}


.bg-border-dr {
  border-color: #3B3C36;
}
.text-color {
  color: #3B3C36;
}
.text-color-lg {
  color: #B2B49C;
}