@import url('https://fonts.googleapis.com/css2?family=Urbanist...');
@import "tailwindcss";

@layer base {
  :root {
    --background-color: #151521;
    --text-color: #e0e0e0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}


/*** Custom styles for the application
*/
.bg-color {
  background-color: var(--background-color);
}
.bg-component {
  background-color: #1e1e2d;
}
.text-color {
  color: #565674;
}