@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@layer base {
  [data-theme="sageAndOlive"] {
    --bg: #b2b49c;
    --text: #3b3c36;
    --border: #3b3c36;
    --hover-bg: #3b3c36;
    --hover-text: #b2b49c;
  }

  [data-theme="Olive"] {
    --bg: #3b3c36;
    --text: #b2b49c;
    --border: #b2b49c;
    --hover-bg: #b2b49c;
    --hover-text: #3b3c36;
  }

  [data-theme="blueWhale"] {
    --bg: #c2cbd3;
    --text: #313851;
    --border: #313851;
    --hover-bg: #313851;
    --hover-text: #c2cbd3;
  }
  
  [data-theme="Whale"] {
    --bg: #313851;
    --text: #c2cbd3;
    --border: #c2cbd3;
    --hover-bg: #c2cbd3;
    --hover-text: #313851;
  }

  [data-theme="peachFizz"] {
    --bg: #3e4260;
    --text: #ffead7;
    --border: #ffead7;
    --hover-bg: #ffead7;
    --hover-text: #3e4260;
  }

  [data-theme="whiteBeige"] {
    --bg: #6b495a;
    --text: #f2eee3;
    --border: #f2eee3;
    --hover-bg: #f2eee3;
    --hover-text: #6b495a;
  }

  [data-theme="old-theme"] {
    --bg: #151521;
    --text: #a9a9a8;
    --border: #5e5e5c;
    --hover-bg: #c9c7c1;
    --hover-text: #151521;
  }

  html {
    scroll-behavior: smooth;
    font-family: sans-serif;
  }

  body {
    background: var(--bg);
    color: var(--text);
  }
}

/* REAUSABLE UTILITIES */

.bg-theme {
  background: var(--bg);
}
.text-theme {
  color: var(--text);
}
.border-theme {
  border-color: var(--border);
}

.btn-theme {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.btn-theme:hover {
  background: var(--hover-bg);
  color: var(--hover-text);
}

/* OPTIONAL VARIANT */

/* ⭐ BUTTON THEME  */
.btn-danger {
  background: #ef44441a;
  color: #ef4444;
  border: 1px solid #ef4444;
}
.btn-danger:hover {
  background: #ef4444;
  color: white;
}

.btn-success {
  background: #16a34a1a;
  color: #16a34a;
  border: 1px solid #16a34a;
}
.btn-success:hover {
  background: #16a34a;
  color: white;
}

.btn-outline {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--border);
}
.btn-outline:hover {
  background: var(--hover-bg);
  color: var(--hover-text);
}

/* ⭐ INPUT THEME */
.input-theme {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.input-theme::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.input-theme:focus {
  outline: none;
  border: 1px solid var(--hover-bg);
}

/* optional states */
.input-danger {
  background: var(--bg);
  color: #ef4444;
  border: 1px solid #ef4444;
}

.input-success {
  background: var(--bg);
  color: #16a34a;
  border: 1px solid #16a34a;
}

/* ⭐ DROPDOWN THEME */
.select-theme {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.select-theme:focus {
  outline: none;
  border: 1px solid var(--hover-bg);
}

/* ⭐ CARD THEME */
.card-theme {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.select-theme {
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
}

.select-theme:focus {
  outline: none;
  border: 1px solid var(--hover-bg);
}

.select-theme option {
  background: var(--bg);
  color: var(--text);
}

/* ⭐ TRANSITION */
.theme-transition {
  transition:
    background 0.25s ease,
    color 0.25s ease,
    border 0.25s ease;
}
