@import url('https://fonts.googleapis.com/css2?family=Urbanist...');
@import "tailwindcss";

@layer base {
  html {
    font-family: "Urbanist";
    scroll-behavior: smooth;
    @apply bg-black text-gray-300;
  }
}

* {
  box-sizing: border-box;
}
